body {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

body * {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	scroll-margin: 0;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-style: none;
}

table.card-skill-table {
	overflow: auto;
}

thead {
	position: sticky;
	top: 0px;
	z-index: 3;
	background: #ffffff;
}

table {
	table-layout: fixed;
	padding: 0 0 0 0;
}

td {
	border: 1pt solid black;
}

th {
	border: 1pt solid black;
	font-size: 9pt;
}

th.span1 {
	border: 1pt solid black;
	font-size: 9pt;
}

th.span2 {
	border: 1pt solid black;
	font-size: 9pt;
}

th.span3 {
	border: 1pt solid black;
	font-size: 9pt;
}

th.sec {
	position: sticky;
    left: 0px;
	background: #ffffff;
	z-index: 1;
	font-size: 10pt;
}

th.type {
	position: sticky;
    left: 23px;
	background: #ffffff;
	z-index: 1;
	font-size: 10pt;
}

th.head0-0 {
	width: 20px;
	position: sticky;
	z-index: 4;
	left: 0pt;
	background: #ffffff;
	font-size: 8pt;
}

th.head0-1 {
	width: 28px;
	position: sticky;
	z-index: 4;
	top: 0px;
	left: 23px;
	background: #ffffff;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 8pt;
}

th.head1 {
	position: sticky;
	top: 0;
	background: #ffffff;
	z-index: 2;
	font-size: 7pt;
}

th.head2 {
	position: sticky;
	top: 30;
	background: #ffffff;
	z-index: 3;
	font-size: 7pt;
}

td.item {
	word-break: break-all;
	z-index: 0;
	text-align: center;
}

span.item {
	font-size: 5pt;
	word-break: break-all;
	text-align: center;
}

span.have:before {
	content: "●";
}

span.nohave:before {
	content: "×";
}

td.m {
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
}

td.l {
	border-right: none;
	border-left: 1px solid black;
}

td.r {
	border-right: 1px solid black;
	border-left: none;
}

td.l2 {
	border-right: 1px solid lightgray;
	border-left: 1px solid black;
}

td.r2 {
	border-right: 1px solid black;
	border-left: none;
}

td.cu {
	border-bottom: none;
	background: #ffeeee;
}

td.co {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	background: #eeeeff;
}

td.pa {
	border-top: none;
	background: #ffffdd;
}

th.cu {
	background: #ffeeee;
}

th.co {
	background: #eeeeff;
}

th.pa {
	background: #ffffdd;
}

#cardinfo-frame {
	margin:			0pt;
	padding:		0pt;
	z-index:		10;
	background:		white;
	border:			1px solid #ccc;
}

div.show-popup {
	display:		block;
	position:		fixed;
}

div.hide-popup {
	display:		none;
	position:		fixed;
}

table.card {
	width: 100%;
	height: 160px;
	table-layout: auto;
}

th.card-name {
	width: 10%;
	font-size: 16px;
	background: #DDDDDD;
}

td.card-name {
	width: 100%;
	font-size: 16px;
}

span.word {
	display: inline-block;
}

th.card-value {
	width: 10%;
	white-space: nowrap;
	font-size: 16px;
	background: #DDDDDD;
}

td.card-value {
	width: 30%;
	font-size: 16px;
}


th.card-spec {
	width: 10%;
	white-space: nowrap;
	font-size: 16px;
	background: #DDDDDD;
}

td.card-spec {
	width: 50%;
	font-size: 16px;
}

input.cb_sec {
}

.hidden1 {
	display: none;
}

.hidden2 {
	display: none;
}

div.pagehead {
	padding-bottom: 8px;

/*	width: 100%;
	text-align: right;	*/
}

img.skillsec {
	margin-top: 7pt;
}

img.face {
	width: 50px;
	height: 50px;
	text-align: center;
}

img.g {
	filter: grayscale(100%);
}

img.selected {
	background: #000000;
}

button#change-mode {
	width: 10em;
}

button#revert-disp {
	width: 10em;
}

button#remove-head {
	width: 10em;
}

span.to-usage {
	margin-left: 8pt;
	vertical-align: middle;
}

span.to-detail {
	margin-left: 8pt;
	font-size: 16pt;
}

h2.usage {
	background: #ffeeee;
	border-bottom: 1px solid black;
	padding-left: 8px;
	padding-right: 8px;
}

h3.usage {
	background: #ffffdd;
	border-bottom: 1px solid black;
	padding-left: 8px;
	padding-right: 8px;
}

h4.usage {
	background: #eeeeff;
	border-bottom: 1px solid black;
	padding-left: 8px;
	padding-right: 8px;
}

div.level1 {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 5pt;
}

div.level2 {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 5pt;
}

p.usage {
	margin-bottom: 2pt;
}

ul.usage {
	padding-left: 20px;
	list-style-type: disc;
	list-style-position: outside;
}

li.usage {
}
