:root {
	--cu-bg: #ffeeee;
	--co-bg: #eeeeff;
	--pa-bg: #ffffdd;
	--cu-bg2: #ffcccc;
	--co-bg2: #ccccff;
	--pa-bg2: #ffffaa;
}

body {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

body * {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	scroll-margin: 0;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-style: none;
}

table.card-skill-table {
	overflow: auto;
}

thead {
	position: sticky;
	top: 0px;
	z-index: 3;
	background: #ffffff;
}

table {
	table-layout: fixed;
	padding: 0 0 0 0;
}

td {
	border: 1pt solid black;
}

th {
	border: 1pt solid black;
	font-size: 9pt;
}

th.span1 {
	border: 1pt solid black;
	font-size: 9pt;
}

th.span2 {
	border: 1pt solid black;
	font-size: 9pt;
}

th.span3 {
	border: 1pt solid black;
	font-size: 9pt;
}

th.sec {
	position: sticky;
    left: 0px;
	background: #ffffff;
	z-index: 1;
	font-size: 10pt;
}

th.type {
	position: sticky;
    left: 22px;
	border-left: none;
	background: #ffffff;
	z-index: 1;
	font-size: 10pt;
}

th.stickyHV {
	position: sticky;
	z-index: 4;
	background: #ffffff;
	font-size: 8pt;
}

th.stickyH {
	position: sticky;
	z-index: 3;
	background: #ffffff;
	font-size: 8pt;
}

th.stickyV {
	position: sticky;
	z-index: 3;
	background: #ffffff;
	font-size: 8pt;
}

th.head0-0 {
	width: 20px;
	position: sticky;
	z-index: 4;
	top: 0pt;
	left: 0pt;
	background: #ffffff;
	font-size: 8pt;
}

th.head0-1 {
	width: 28px;
	position: sticky;
	z-index: 4;
	top: 0px;
	left: 22px;
	border-left: none;
	background: #ffffff;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 8pt;
}

th.head1-1a {
	position: sticky;
	z-index: 4;
	background: #ffffff;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 8pt;
}

th.head1 {
	position: sticky;
	top: 0;
	background: #ffffff;
	z-index: 2;
	font-size: 7pt;
}

th.head2 {
	position: sticky;
	background: #ffffff;
	z-index: 3;
	font-size: 7pt;
}

td.item {
	word-break: break-all;
	z-index: 0;
	text-align: center;
}

span.item {
	font-size: 5pt;
	word-break: break-all;
	text-align: center;
}

span.have:before {
	content: "●";
}

span.nohave:before {
	content: "×";
}

span.gacha_theme {
	color: #999999;
}

th.l {
//	border-right: none;
}

th.m {
//	border-right: none;
}

th.r {
//	border-left: none;
//	border-right: none;
}

td.l {
	border-right: none;
	border-left: 1px solid black;
}

td.m {
	border-left: 1px solid lightgray;
	border-right: none;
//	border-right: 1px solid lightgray;
}


td.r {
	border-right: 1px solid black;
	border-left: 1px solid lightgray;
//	border-left: none;
}

td.l2 {
	border-right: 1px solid lightgray;
	border-left: 1px solid black;
}

td.r2 {
	border-right: 1px solid black;
	border-left: none;
}

td.cu {
	border-bottom: none;
	background: var(--cu-bg);
}

td.co {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	background: var(--co-bg);
}

td.pa {
	border-top: none;
	background: var(--pa-bg);
}

th.cu {
	background: var(--cu-bg);
	border-bottom: none;
}

th.co {
	background: var(--co-bg);
}

th.pa {
	background: var(--pa-bg);
	border-top: none;
}

td.cuV {
	border-right: none;
	background: var(--cu-bg);
}

td.coV {
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	background: var(--co-bg);
}

td.paV {
	border-left: none;
	background: var(--pa-bg);
}


th.cuV {
	border-right: none;
	background: var(--cu-bg);
}

th.coV {
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	background: var(--co-bg);
}

th.paV {
	border-left: none;
	background: var(--pa-bg);
}

td.gacha_limited {
}

td.gacha_noir {
	border-top: none;
	border-bottom: none;
}

td.gacha_blanc {
}

th.gacha_limited {
}

th.gacha_noir {
	border-top: none;
	border-bottom: none;
}

th.gacha_blanc {
}

th.gacha_year {
//	border-bottom: none;
}

th.gacha_month {
	border-bottom: none;
}

#cardinfo-frame {
	margin:			0pt;
	padding:		0pt;
	z-index:		10;
	background:		white;
	border:			1px solid #ccc;
}

div.show-popup {
	display:		block;
	position:		fixed;
}

div.hide-popup {
	display:		none;
	position:		fixed;
}

table.card {
	width: 100%;
	height: 160px;
	table-layout: auto;
}

th.card-name {
	width: 10%;
	font-size: 16px;
	background: #DDDDDD;
}

td.card-name {
	width: 100%;
	font-size: 16px;
}

span.word {
	display: inline-block;
}

th.card-value {
	width: 10%;
	white-space: nowrap;
	font-size: 16px;
	background: #DDDDDD;
}

td.card-value {
	width: 30%;
	font-size: 16px;
}


th.card-spec {
	width: 10%;
	white-space: nowrap;
	font-size: 16px;
	background: #DDDDDD;
}

td.card-spec {
	width: 50%;
	font-size: 16px;
}

input.cb_sec {
}

.hidden1 {
	display: none;
}

.hidden2 {
	display: none;
}

div.pagehead {
	padding-bottom: 8px;
}

div.pagehead-item-left {
	float: left;
	margin-left: 5pt;
	margin-right: 5pt;
	padding-left: 5pt;
	padding-right: 5pt;
}

div.pagehead-item-right {
	float: right;
	margin-left: 5pt;
	margin-right: 5pt;
	padding-left: 5pt;
	padding-right: 5pt;
}

div.center {
	text-align: center;
}

a.box {
	display: block;
    width: 100%;
    height: 100%;
}

div.box {
	border: 1px solid black;
}

img.skillsec {
	margin-top: 7pt;
}

img.face {
	width: 50px;
	height: 50px;
	text-align: center;
}

img.dominant-cuco { background: linear-gradient(135deg, var(--cu-bg2), var(--co-bg2)) }
img.dominant-cupa { background: linear-gradient(135deg, var(--cu-bg2), var(--pa-bg2)) }
img.dominant-cocu { background: linear-gradient(135deg, var(--co-bg2), var(--cu-bg2)) }
img.dominant-copa { background: linear-gradient(135deg, var(--co-bg2), var(--pa-bg2)) }
img.dominant-pacu { background: linear-gradient(135deg, var(--pa-bg2), var(--cu-bg2)) }
img.dominant-paco { background: linear-gradient(135deg, var(--pa-bg2), var(--co-bg2)) }

img.g {
	filter: grayscale(100%);
}

img.selected {
	background: #000000;
}

button#change-mode {
	width: 10em;
}

button#revert-disp {
	width: 10em;
}

button#remove-head {
	width: 10em;
}

span.to-usage {
	margin-left: 8pt;
	vertical-align: middle;
}

span.to-detail {
	margin-left: 8pt;
	font-size: 16pt;
}

h2.usage {
	background: #ffeeee;
	border-bottom: 1px solid black;
	padding-left: 8px;
	padding-right: 8px;
}

h3.usage {
	background: #ffffdd;
	border-bottom: 1px solid black;
	padding-left: 8px;
	padding-right: 8px;
}

h4.usage {
	background: #eeeeff;
	border-bottom: 1px solid black;
	padding-left: 8px;
	padding-right: 8px;
}

div.level1 {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 5pt;
}

div.level2 {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 5pt;
}

p.usage {
	margin-bottom: 2pt;
}

ul.usage {
	padding-left: 20px;
	list-style-type: disc;
	list-style-position: outside;
}

li.usage {
}




th.stats-year-label {
	width: 60px;
}

th.stats-month-label {
	width: 60px;
}

th.stats-sum-label {
	width: 70px;
}

td.stats-usernum {
	text-align: right;
	padding: 0pt 5pt 0pt; 5pt;
}

td.stats-usernum-sum {
	text-align: right;
	padding: 0pt 5pt 0pt; 5pt;
}

th.stats-year {
}

td.stats-usernum {
}

th.stats-idol-no {
	width: 30px;
	padding: 0pt 5pt 0pt; 5pt;
}

th.stats-idol-id {
	width: 40px;
	padding: 0pt 5pt 0pt; 5pt;
}

th.stats-idol-name {
	width: 168px;
	padding: 0pt 5pt 0pt; 5pt;
}

th.stats-idol-cv {
	width: 112px;
	padding: 0pt 5pt 0pt; 5pt;
}

th.stats-idol-leader {
	border-bottom: 0px none black;
}

th.stats-idol-emblem {
	border-bottom: 0px none black;
}

th.stats-idol-rank {
	width: 40px;
	padding: 0pt 5pt 0pt; 5pt;
}

th.stats-num-label {
	width: 60px;
	padding: 0pt 5pt 0pt; 5pt;
	border-left: none;
	border-right: none;
}

th.stats-per-label {
	width: 70px;
	padding: 0pt 5pt 0pt; 5pt;
}

td.stats-idol-no {
	text-align: right;
	width: 30px;
	padding: 0pt 5pt 0pt; 5pt;
/*	background: #eeffee;	*/
	border-top: 0px none black;
}

td.stats-idol-rank {
	text-align: right;
	padding: 0pt 5pt 0pt; 5pt;
	background: #eeffee;
	border-top: 0px none black;
}

td.stats-idol-id {
	text-align: center;
	padding: 0pt 5pt 0pt; 5pt;
/*	background: #eeffee;	*/
	border-top: 0px none black;
}

td.stats-idol-name {
	padding: 0pt 5pt 0pt; 5pt;
	border-top: 0px none black;
}

td.stats-idol-cv {
	padding: 0pt 5pt 0pt; 5pt;
	border-top: 0px none black;
}

td.stats-idol-num {
	text-align: right;
	padding: 0pt 5pt 0pt; 5pt;
	border-left: none;
	border-right: none;
	border-top: 0px none black;
}

td.stats-idol-per {
	text-align: right;
	padding: 0pt 5pt 0pt; 5pt;
	border-top: 0px none black;
}

td.type-cu {
	background: var(--cu-bg);
}

td.type-co {
	background: var(--co-bg);
}

td.type-pa {
	background: var(--pa-bg);
}

td.stats-idol-cont {
	background: #dddddd;
}

div.graph {
	vertical-align: bottom;
	align-items: flex-end;
	display: flex;
/*	border: 1px solid gray;	*/
/*	background: #ffeeff;	*/
}

div.graph-bar {
	float: left;
	vertical-align: bottom;
	align-items: flex-end;
	width: 4px;
	background: #ff0000;
}

div.graph-label {
	vertical-align: top;
	align-items: flex-end;
	display: flex;
/*	background: #eeeeff;	*/
	height: 80px;
	white-space: norwap;
}

div.graph-label-item {
	float: left;
	white-space: norwap;
}

div.graph-count-label {
	height: 512px;
	width: 50px;
	border-right: 1px solid gray;
}

div.graph-count-label2 {
	height: 80px;
	width: 50px;
}

div.graph-count-max {
	height: 256px;
}

div.graph-count-min {
	height: 256px;
	display:flex;
	align-items:flex-end;
}

span.graph-count-min {
}

span.graph-label-item-1 {
	font-size: 10pt;
	display: inline-block;
	white-space: norwap;
	transform: rotate(90deg) translate(0px, 50px);
	width: 120px;
}

span.graph-label-item-X {
	font-size: 10pt;
	display: inline-block;
	white-space: norwap;
	transform: rotate(90deg) translate(0px, 55px);
	width: 120px;
}

table#stats-register {
	position:  absolute;
	background-color: #eeeeff;
	padding:  1px;
	left:  100px;
	top: 80px;
}






tbody.table-thead
{
}

tbody.table-tbody		{ padding: 0 5pt 0 5pt; }

table#table-idol		{ width: 1093px}
th.table-idol-id		{ width: 40px; }
th.table-idol-name		{ width: 200px; }
th.table-idol-type		{ width: 40px; }
th.table-idol-num		{ border-bottom: 0px none black; width: 122px; }
th.table-idol-date		{ border-bottom: 0px none black; }
th.table-idol-num1		{ width: 40px; }
th.table-idol-num2		{ width: 40px; border-left: none; border-right: none; }
th.table-idol-num3		{ width: 40px; }
th.table-idol-date1		{ width: 224px; }
th.table-idol-date2		{ width: 224px; border-left: none; border-right: none; }
th.table-idol-date3		{ width: 224px; }
td.table-idol-id		{ padding: 0 5pt 0 5pt; border-top: 0px none black; }
td.table-idol-name		{ padding: 0 5pt 0 5pt; border-top: 0px none black; }
td.table-idol-type		{ padding: 0 5pt 0 5pt; border-top: 0px none black; text-align: center; }
td.table-idol-num1		{ padding: 0 5pt 0 5pt; border-top: 0px none black; text-align: right; }
td.table-idol-num2		{ padding: 0 5pt 0 5pt; border-top: 0px none black; text-align: right; border-left: none; border-right: none; }
td.table-idol-num3		{ padding: 0 5pt 0 5pt; border-top: 0px none black; text-align: right; }
td.table-idol-date1		{ padding: 0 5pt 0 5pt; border-top: 0px none black; text-align: left; }
td.table-idol-date2		{ padding: 0 5pt 0 5pt; border-top: 0px none black; text-align: left; border-left: none; border-right: none; }
td.table-idol-date3		{ padding: 0 5pt 0 5pt; border-top: 0px none black; text-align: left; }

table#table-card		{ width: 1520px; }
th.table-card-id		{ width: 80px; }
th.table-card-name		{ width: 420px; }
th.table-card-date		{ width: 220px; }
th.table-card-rarity	{ width: 60px; }
th.table-card-reward	{ width: 120px; }
th.table-card-label		{ width: 400px; }
th.table-card-num		{ width: 70px; }
td.table-card-id		{ padding: 0 5pt 0 5pt; border-top: 0px none black; }
td.table-card-name		{ padding: 0 5pt 0 5pt; border-top: 0px none black; }
td.table-card-rarity	{ padding: 0 5pt 0 5pt; border-top: 0px none black; text-align: center; }
td.table-card-reward	{ padding: 0 5pt 0 5pt; border-top: 0px none black; }
td.table-card-label		{ padding: 0 5pt 0 5pt; border-top: 0px none black; }
td.table-card-num		{ padding: 0 5pt 0 5pt; border-top: 0px none black; text-align: right; }
td.table-card-date		{ padding: 0 5pt 0 5pt; border-top: 0px none black; text-align: left; }

table#table-event 		{ width: 1778px; }
th.table-class-month 	{ border-top: 0px none; }
th.table-class-month 	{ border-top: 0px none; width: 72px; }
th.table-class-month-unit 	{ border-left: 0px none; }
th.table-class-span 	{ border-top: 0px none; border-left: 0px none; }
td.table-class-event	{ border-top: 0px none; border-left: 0px none; }
td.event-type-1			{ background: #ffeeee; }
td.event-type-2			{ background: #eeffee; }
td.event-type-3			{ background: #ffffee; }
td.event-type-4			{ background: #eeeeff; }
td.event-type-5			{ background: #ffeeff; }
td.event-type-6			{ background: #eeffff; }
td.event-type-7			{ background: #ffdddd; }
td.event-type-8			{ background: #ffffff; }
span.table-class-event-date	{ font-size: 8pt; }

img.song-type-icon		{ width: 18px; height: 18px; }

th.table-class-span		{ width: 284px; }
